<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div class="logo">
                        <img src="../../assets/images/samsung.png" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="text-align-center mt-4 mb-5">Zasady akcji promocyjnej</h4>
                </div>
                <div class="col-12 px-4">
                    <div class="rules one">
                        <span class="point">1</span>
                        <p>Odwiedź strefę Samsung i&nbsp;zapoznaj się z&nbsp;najważniejszymi cechami najnowszego telefonu Samsung.</p>
                    </div>
                    <div class="rules two">
                        <span class="point">2</span>
                        <p>Wysłuchaj naszych ekspertów i&nbsp;zeskanuj udostępnione przez nich kody&nbsp;QR.</p>
                    </div>
                    <div class="rules three">
                        <span class="point">3</span>
                        <p>Nie musisz robić nic więcej. Upominek od&nbsp;Samsung będzie Twój.</p>
                        <!-- <p>Udaj się do jednego z&nbsp;wskazanych przez hostessę punktów sprzedaży, sprawdź ofertę na zakup telefonu Galaxy Note10+ lub&nbsp;Galaxy Note10.</p> -->
                    </div>
                    <!-- <div class="rules four">
                        <p>Nie musisz robić nic więcej. Upominek od&nbsp;Samsung będzie Twój.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-3 background-image">
            <img src="assets/images/render-rules.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-3 mb-3">
            <a class="button" (click)="startGame()">Zaczynamy</a>
        </div>
    </div>
    <!-- <div class="background">
        <img src="assets/images/render-rules.png" alt="">
    </div> -->
</div>