@font-face {
    font-family: 'SamsungOne';
    font-weight: 300;
    src: url("./assets/fonts/SamsungOne-300_v1.0.ttf") format("truetype");
}

@font-face {
    font-family: 'SamsungOne';
    font-weight: 400;
    src: url("./assets/fonts/SamsungOne-400_v1.0.ttf") format("truetype");
}

@font-face {
    font-family: 'SamsungOne';
    font-weight: 700;
    src: url("./assets/fonts/SamsungOne-700_v1.0.ttf") format("truetype");
}

@font-face {
    font-family: 'SamsungSharpSans';
    font-weight: bold;
    src: url("./assets/fonts/SamsungSharpSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'SamsungSharpSans';
    font-weight: 500;
    src: url("./assets/fonts/SamsungSharpSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'SamsungSharpSans';
    font-weight: normal;
    src: url("./assets/fonts/SamsungSharpSans-Regular.ttf") format("truetype");
}