<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="logo">
                <img src="assets/images/samsung.png" alt="">
            </div>
        </div>
        <div class="col-12 text-align-center">
            <p class="mb-5">Zapraszamy do wzięcia udziału w akcji promocyjnej Samsung!</p>
            <p class="mb-3">Poznaj super moc telefonu</p>
            <h3>Galaxy Note10</h3>
            <p class="mt-1 mb-5">i odbierz holograficzny notes</p>
        </div>
    </div>
</div>
<div class="container-fluid d-flex flex-column justify-content-around">
    <div class="row image-wrapper">
        <img src="assets/images/violet-render.png" alt="">
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-3">
            <a class="button" [routerLink]="[ '/rules' ]">Dalej</a>
        </div>
    </div>
</div>
